{% extends "master.html" %}

{% block title %} Home {% endblock %}

{% block content %}

How to use faitout?
===================

The usage is simple:

  curl {{ config.URL }}{{ url_for('token') }}
  postgres://user:password@host/db


Retrieve the same information as json:

  curl -H 'Accept: application/json' {{ config.URL }}{{ url_for('token') }}
  {
    "dbname": "dbname",
    "username": "username",
    "password": "password",
    "port": 123,
    "host": "host.com"
  }


Need to have one more connection while you are already at the maximum?

Clean one of your connection by drop the database

  curl {{ config.URL }}{{ url_for('clean_database', db_name='db_name') }}
  Database db_name has been dropped



faitout and python
------------------

Install the requests module from : http://www.python-requests.org/

You may then set the SQLAlchemy URL in one line as follow:
    DATABASE_URL = get('{{ config.URL }}{{ url_for('token') }}').text



faitout and Travis CI
---------------------

Travis CI is a continuous integration service: https://travis-ci.org/

Simply add the following to your .travis.yml

env:
- DATABASE_URL=$(curl {{ config.URL }}{{ url_for('token') }})


{% endblock %}
