<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="//fedoraproject.org/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='faitout.css') }}" />
    <title>{% block title %}{% endblock %} - Faitout</title>
    <link rel='stylesheet' type='text/css'
         href='//fonts.googleapis.com/css?family=Comfortaa'/>
    {% block head %}{% endblock %}
</head>
<body>

  __      _ _              _
 / _|    (_) |            | |
| |_ __ _ _| |_ ___  _   _| |_
|  _/ _` | | __/ _ \| | | | __|
| || (_| | | || (_) | |_| | |_
|_| \__,_|_|\__\___/ \__,_|\__|


faitout is a Free and Open-Source alternative to http://www.postgression.com/


It goal is to provide access to temporary postgresql databases which can be
used for unit-test thus reducing the differences between testing and
production environment
    {% block content %}
    {% endblock %}


                                            _               _   _        __
                                           | |             | | (_)      / _|
                                           | |_ _   _  ___ | |_ _  __ _| |_
                                           | __| | | |/ _ \| __| |/ _` |  _|
                                           | |_| |_| | (_) | |_| | (_| | |
                                            \__|\__,_|\___/ \__|_|\__,_|_|

© 2013 - RedHat Inc - GPLv3+ - Sources: https://github.com/fedora-infra/faitout
</body>
</html>
